#top, #bottom {
  transition: 1s;
}
#middle {
  transition: 0.1s;
}

.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(45deg) translatey(23.5px) translatex(23.5px);
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(-45deg) translatey(-23.5px) translatex(23.5px);
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {}
  to {}
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {}
  to {}
}
